<a href="https://colab.research.google.com/github/devrihartle/DS-Unit-2-Linear-Models/blob/master/Unit_2_Sprint_1_Assignment_2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 1, Module 2*

---

# Regression 2

## Assignment

You'll continue to **predict how much it costs to rent an apartment in NYC,** using the dataset from renthop.com.

- [ ] Do train/test split. Use data from April & May 2016 to train. Use data from June 2016 to test.
- [ ] Engineer at least two new features. (See below for explanation & ideas.)
- [ ] Fit a linear regression model with at least two features.
- [ ] Get the model's coefficients and intercept.
- [ ] Get regression metrics RMSE, MAE, and $R^2$, for both the train and test data.
- [ ] What's the best test MAE you can get? Share your score and features used with your cohort on Slack!
- [ ] As always, commit your notebook to your fork of the GitHub repo.


#### [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)

> "Some machine learning projects succeed and some fail. What makes the difference? Easily the most important factor is the features used." — Pedro Domingos, ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)

> "Coming up with features is difficult, time-consuming, requires expert knowledge. 'Applied machine learning' is basically feature engineering." — Andrew Ng, [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf) 

> Feature engineering is the process of using domain knowledge of the data to create features that make machine learning algorithms work. 

#### Feature Ideas
- Does the apartment have a description?
- How long is the description?
- How many total perks does each apartment have?
- Are cats _or_ dogs allowed?
- Are cats _and_ dogs allowed?
- Total number of rooms (beds + baths)
- Ratio of beds to baths
- What's the neighborhood, based on address or latitude & longitude?

## Stretch Goals
- [ ] If you want more math, skim [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
- [ ] If you want more introduction, watch [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)
(20 minutes, over 1 million views)
- [ ] Add your own stretch goal(s) !

In [2]:
%%capture
import sys

# If you're on Colab:
if 'google.colab' in sys.modules:
    DATA_PATH = 'https://raw.githubusercontent.com/LambdaSchool/DS-Unit-2-Applied-Modeling/master/data/'
    !pip install category_encoders==2.*

# If you're working locally:
else:
    DATA_PATH = '../data/'
    
# Ignore this Numpy warning when using Plotly Express:
# FutureWarning: Method .ptp is deprecated and will be removed in a future version. Use numpy.ptp instead.
import warnings
warnings.filterwarnings(action='ignore', category=FutureWarning, module='numpy')

In [3]:
import numpy as np
import pandas as pd

# Read New York City apartment rental listing data
df = pd.read_csv(DATA_PATH+'apartments/renthop-nyc.csv')
assert df.shape == (49352, 34)

# Remove the most extreme 1% prices,
# the most extreme .1% latitudes, &
# the most extreme .1% longitudes
df = df[(df['price'] >= np.percentile(df['price'], 0.5)) & 
        (df['price'] <= np.percentile(df['price'], 99.5)) & 
        (df['latitude'] >= np.percentile(df['latitude'], 0.05)) & 
        (df['latitude'] < np.percentile(df['latitude'], 99.95)) &
        (df['longitude'] >= np.percentile(df['longitude'], 0.05)) & 
        (df['longitude'] <= np.percentile(df['longitude'], 99.95))]

In [4]:
print(df.shape)
df.head()

(48817, 34)

   bathrooms  bedrooms  ... wheelchair_access common_outdoor_space
0        1.5         3  ...                 0                    0
1        1.0         2  ...                 0                    0
2        1.0         1  ...                 0                    0
3        1.0         1  ...                 0                    0
4        1.0         4  ...                 0                    0

[5 rows x 34 columns]

In [7]:
df['rooms_total'] = df['bedrooms'] + df['bathrooms']

In [8]:
df.head()

   bathrooms  bedrooms  ... common_outdoor_space rooms_total
0        1.5         3  ...                    0         4.5
1        1.0         2  ...                    0         3.0
2        1.0         1  ...                    0         2.0
3        1.0         1  ...                    0         2.0
4        1.0         4  ...                    0         5.0

[5 rows x 35 columns]

In [9]:
df['bed_to_baths'] = df['bedrooms']/df['bathrooms']
df.head()

   bathrooms  bedrooms  ... rooms_total bed_to_baths
0        1.5         3  ...         4.5          2.0
1        1.0         2  ...         3.0          2.0
2        1.0         1  ...         2.0          1.0
3        1.0         1  ...         2.0          1.0
4        1.0         4  ...         5.0          4.0

[5 rows x 36 columns]

In [10]:
df = df.replace([np.inf, -np.inf], np.nan)
df.fillna(0, inplace=True)
df.isnull().sum()

bathrooms               0
bedrooms                0
created                 0
description             0
display_address         0
latitude                0
longitude               0
price                   0
street_address          0
interest_level          0
elevator                0
cats_allowed            0
hardwood_floors         0
dogs_allowed            0
doorman                 0
dishwasher              0
no_fee                  0
laundry_in_building     0
fitness_center          0
pre-war                 0
laundry_in_unit         0
roof_deck               0
outdoor_space           0
dining_room             0
high_speed_internet     0
balcony                 0
swimming_pool           0
new_construction        0
terrace                 0
exclusive               0
loft                    0
garden_patio            0
wheelchair_access       0
common_outdoor_space    0
rooms_total             0
bed_to_baths            0
dtype: int64

In [11]:
df['created']=pd.to_datetime(df['created'])

In [12]:
df['month'] = df['created'].dt.month

In [18]:
april = df[df['month']==4]
may = df[df['month']==5]
june = df[df['month']==6]

In [19]:
train = pd.concat([april, may])
test = june

In [20]:
train.shape, test.shape

((31844, 37), (16973, 37))

In [21]:
train['price'].mean()

3575.604007034292

In [23]:
target = 'price'
y_train = train[target]
y_test = test[target]

In [24]:
best_guess = y_train.mean()
print('Mean Baseline with no features included', best_guess)

Mean Baseline with no features included 3575.604007034292

In [25]:
from sklearn.metrics import mean_absolute_error
y_pred = [best_guess] *len(y_train)
ma_error=mean_absolute_error(y_train, y_pred)
ma_error

1201.8811133682555

In [26]:
y_pred = [best_guess]*len(y_test)
ma_error=mean_absolute_error(y_test, y_pred)
ma_error

1197.7088871089013

Now lets fit the model!

In [27]:
from sklearn.linear_model import LinearRegression

In [30]:
model = LinearRegression()

In [31]:
#now lets look at the dataframe again for April and May
train.head()

   bathrooms  bedrooms             created  ... rooms_total bed_to_baths  month
2        1.0         1 2016-04-17 03:26:41  ...         2.0          1.0      4
3        1.0         1 2016-04-18 02:22:02  ...         2.0          1.0      4
4        1.0         4 2016-04-28 01:32:41  ...         5.0          4.0      4
5        2.0         4 2016-04-19 04:24:47  ...         6.0          2.0      4
6        1.0         2 2016-04-27 03:19:56  ...         3.0          2.0      4

[5 rows x 37 columns]

In [33]:
#creating the matrices and the target
features = ['rooms_total', 'bed_to_baths']
x_train = train[features]
x_test = test[features]

In [34]:
#fit the data to the model
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [35]:
#look at the error with multiple features
y_pred = model.predict(x_train)

In [36]:
mae=mean_absolute_error(y_train, y_pred)
print('Train Error is', mae)

Train Error is 826.0239929058141

In [37]:
y_pred=model.predict(x_test)
mae = mean_absolute_error(y_test,y_pred)
print('Test Error is', mae)

Test Error is 832.2514945352539

In [38]:
#now lets make our little function
beta0=model.intercept_
beta0

1460.4820854964014

In [39]:
beta1, beta2 = model.coef_
beta1, beta2

(1130.1352857542017, -776.3564061252885)

In [42]:
#lets write out our equation
print(f'y = {beta1}x1 + {beta2}x2 + {beta0}')

y = 1130.1352857542017x1 + -776.3564061252885x2 + 1460.4820854964014

In [ ]:
#now lets look at the rmse, mae, and r squared

In [43]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [47]:
#mae for the trained data
y_pred = model.predict(x_train)
mse = mean_squared_error(y_train, y_pred)
print('Mean squared error:', mse)

Mean squared error: 1540592.0195382172

In [48]:
rmse = np.sqrt(mse)
print('RMSE:', rmse)

RMSE: 1241.2058731484544

In [49]:
r2 = r2_score(y_train, y_pred)
print('R Squared:', r2)

R Squared: 0.5038396074273039

Now for the testing data

In [50]:
y_pred=model.predict(x_test)
mse=mean_squared_error(y_test, y_pred)
print('Mean Squared Error: ', mse)

Mean Squared Error:  1515639.4763700743

In [51]:
rmse = np.sqrt(mse)
print('RMSE:', rmse)

RMSE: 1231.11310462121

In [52]:
r2 = r2_score(y_test, y_pred)
r2

0.5123458478077657